[submodule "presentation/reveal.js"]
	path = presentation/reveal.js
	url = https://github.com/pshriwise/reveal.js
[submodule "presentation/--force"]
	path = presentation/presentable
	url = https://github.com/pshriwise/presentable
[submodule "presentation/toc-progress"]
	path = presentation/toc-progress
	url = https://github.com/pshriwise/Reveal.js-TOC-Progress/
